* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

.container {
  font-size: 17px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 50px;
}

.loading {
  height: 100vh;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

.button {
  padding: 0;
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 1px 1px 4px 0px #000;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  transition: all 1s;
  width: 280px;
  height: 280px;
}

.card__top-img {
  -webkit-animation: fade-in 1s ease-in-out;
  -moz-animation: fade-in 1s ease-in-out;
  -o-animation: fade-in 1s ease-in-out;
  animation: fade-in 1s ease-in-out;
}

.cardback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  position: relative;
  transition: all 1s;
  width: 280px;
  height: 280px;
  transform: translate(2px, 2px);
}

.card__bottom-id {
  max-width: fit-content;
  padding: 0 10px;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.card__top-info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 2px 10px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0px;
  -webkit-animation: fade-in 1s ease-in-out;
  -moz-animation: fade-in 1s ease-in-out;
  -o-animation: fade-in 1s ease-in-out;
  animation: fade-in 1s ease-in-out;
}

.card__bottom-name {
  font-weight: 700;
}

.card__bottom-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card__bottom-type {
  color: #fff;
  padding: 1px 10px;
  border-radius: 10px;
  font-weight: 700;
}

.recharts-wrapper {
  width: 100%;
  font-size: 14px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
